.btn {
    padding: 16px 24px;
    border: 1px solid #778ED1;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #2A3759;
    display: flex;
    justify-content: center;
    align-content: center;

    @include media(1000) {
        padding: 14px 22px;
    }

    @include media(500) {
        padding: 12px 20px;
        font-size: 15px;
    }
}